<%= form_for(@task) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :details %>
    <%= f.text_field :details %>
  </div>

  <div>
    <input type="checkbox" id="completed" name="task[completed]" value="true" <%= @task.completed ? "checked" : "" %>>
    <label for="completed">True</label>
  </div>

  <div>
    <input type="checkbox" id="completed" name="task[completed]" value="false" <%= @task.completed ? "" : "checked" %>>
    <label for="completed">False</label>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
